DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=change-this-password
DASHBOARD_AUTH_SECRET=change-this-long-random-secret
# One-off Thursday seminar; every following seminar occurs on Friday.
GHP_FIRST_SEMINAR_DATE=2026-08-20
